/* style sheets is not one of my strongest skills. 
I have adjusted these from what others have provided 
but not much more than that. Any advice I could give
might be misleading. I will leave it at that, Good Luck!*/

		  html {
	font-family: Arial;
	display: inline-block;
	text-align: center;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 30px;
	padding-left: 3px;
	color: #FFFFFF;
}
body{
	color: #000000;
	font-size: 18px;
}

		  h1 {font-size: 2rem;}
		  h2 {font-size: 2rem;}
		  h3 {font-size: 2rem;}
	

		  
		  .slider { -webkit-appearance: none; margin: 1px; width: 200px; height: 15px; border-radius: 5px; background: #39a6de; outline: none; -webkit-transition: .2s; transition: opacity .2s;}
		  .slider::-webkit-slider-thumb {-webkit-appearance: none; appearance: none; width: 25px; height: 25px; border-radius: 12px; background: #f74d4d; cursor: pointer;}
		  .slider::-moz-range-thumb { width: 25px; height: 25px; border-radius: 12px; background: #F74D4D; cursor: pointer; } 
		  .switch { -webkit-appearance: none; margin: 1px; width: 50px; height: 15px; border-radius: 5px; background: #39a6de; outline: none; -webkit-transition: .2s; transition: opacity .2s;}
		  .switch::-webkit-slider-thumb {-webkit-appearance: none; appearance: none; width: 25px; height: 25px; border-radius: 12px; background: #f74d4d; cursor: pointer;}
		  .switch::-moz-range-thumb { width: 15px; height: 15px; border-radius: 12px; background: #F74D4D; cursor: pointer; } 

input[type=button] {
	background-color: #666666;
	border: none;
	color: white;
	padding: 0px 0px;
	text-decoration: none;
	margin: 0px 0px;
	cursor: pointer;
}

		  
.sitename{
	color: #FFFFFF;
	font-size: 40px;
	font-weight: bold;
}
.title{
	color: #FFFF00;
	font-size: 30px;
	font-weight: normal;
}
.date{
	color: #33CCFF;
	font-size: 24px;
	font-weight: normal;
}
.led {
	font-family: 'Segment7Standard';
	font-style: italic;
	color: #FF0000;
	font-size: xx-large;
}
.menu {
	background-color: #FF6600;
	border: 10;
	color: white;
	padding: 10px 30px;
	text-decoration: none;
	margin: 0px 0px;
	cursor: pointer;
	font-stretch: normal;
	font-size: 16px;
	border-top-color: #FFCC00;
	border-right-color: #FFCC00;
	border-bottom-color: #FF0000;
	border-left-color: #FF0000;
	border-top-width: thick;
	border-right-width: thick;
	border-bottom-width: thick;
	border-left-width: thick;
}
.update {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 0px 0px;
	text-decoration: none;
	margin: 0px 0px;
	cursor: pointer;
}
.reset {
	background-color: #FF0000;
	border: none;
	color: white;
	padding: 0px 0px;
	text-decoration: none;
	margin: 0px 0px;
	cursor: pointer;
}
.copy{
	color: #FFFFFF;
	text-align: left;
}
/* I just want to add that style sheet does not have to be kept in a file of its own. styles can be embedded 
in the html page. Also, I have all the styles in this one file included in all the pages. Each html page can have 
its own unique ssyle file, or in a number of different style files. What you do need to know is that if you
want to store a style sheet file on the ESP, you have to include it in the webserver setup to give the browser permission to
download the file. */